* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
}

.dark-bg {
  background-color: #1f2932;
}

.light-bg {
  background-color: #e5e7eb;
}

.light-txt {
  color: #e5e7eb;
  font-size: 18px;
}

/* Header Section */
header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .logo {
  margin-top: 5px;
  margin-left: 150px;
  height: 100px;
  width: 120px;
}

.container .nav-list {
  margin-right: 150px;
  list-style: none;

  display: flex;
  gap: 40px;
}

/* Hero Section */
.hero {
  display: flex;
  gap: 40px;
}

.hero-item {
  margin: 50px 0;
  flex: 1;
}

.hero-item.content {
  margin-left: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-item.content .main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-item.content .btn {
  color: white;
  background-color: #3882f6;
  padding: 6px 18px;
  width: max-content;
  border: none;
  border-radius: 5px;
}

.hero-item.img {
  margin-right: 150px;
  height: 300px;
  width: auto;
}

/* Information Section */
.info-container {
  display: flex;
  flex-direction: column;
}

.info-content {
  display: flex;
}

.info-content .info {
  display: flex;
  flex-direction: column;
}

.info-content .info-img {
  height: 150px;
  width: 150px;
}

/* User Comment Section */
.user-comment-container {
  display: flex;
  flex-direction: column;
}

/* Contact Seciton */
.contact-container {
  background-color: #3882f6;

  display: flex;
}

.contact-content {
  display: flex;
  flex-direction: column;
}
